.css-l3auq9-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: #e0e0e0;
  border-radius: 0px;
}
.css-oo64dr-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  border-radius: 0px;
  background-color: #e0e0e0;
}

.css-1x5085w-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: #e0e0e0;
  border-radius: 0px;
}

.css-bugfv0-MuiLinearProgress-root.MuiLinearProgress-colorPrimary {
  background-color: #e0e0e0;
}
