.barChart2Container {
  width: 20.9181em;
  height: 15.0904em;
  /*background-color: #ADD8E6;*/ /* Light blue color */
  position: relative; /* Set to relative for absolute positioning of children */
}
.svgIcon,
.svgIcon2 {
  position: absolute;
  bottom: 1.92349625em; /* Position the SVGs above the bottom */
}
.svgIcon2 {
  left: 0.230625em; /* Position the second SVG to the right of the first */
}
.newSvgIcon,
.newSvgIcon2 {
  position: absolute;
  bottom: 4.80349625em; /* Position the SVG above the bottom */
}
.newSvgIcon2 {
  left: 0.230625em;
}
.newerSvgIcon,
.newerSvgIcon2 {
  position: absolute;
  bottom: calc(2.88em + 4.80349625em); /* Position the SVG above the bottom */
}
.newerSvgIcon2 {
  left: 0.230625em;
}
.newerrSvgIcon,
.newerrSvgIcon2 {
  position: absolute;
  bottom: calc(
    2.88em + 4.80349625em + 2.88em
  ); /* Position the SVG above the bottom */
}
.newerrSvgIcon2 {
  left: 0.230625em;
}
.newestSvgIcon,
.newestSvgIcon2 {
  position: absolute;
  bottom: calc(
    2.88em + 4.80349625em + 2.88em + 2.88em
  ); /* Position the SVG above the bottom */
}
.newestSvgIcon2 {
  left: 0.230625em;
}
.localSearchNumberOfRankingsTextValue1 {
  position: absolute;
  bottom: calc(1.92349625em + 1.3656175em);
  color: #6d6d6d;
  font-family: "Glacial Indifference", "sans-serif";
  font-size: 0.683625em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.localSearchNumberOfRankingsTextValue2 {
  position: absolute;
  bottom: calc(
    1.92349625em + 1.3656175em + 2.8712425em + 0.8181175em + 0.40905875em
  );
  color: #6d6d6d;
  font-family: "Glacial Indifference", "sans-serif";
  font-size: 0.683625em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.localSearchNumberOfRankingsTextValue3 {
  position: absolute;
  bottom: calc(
    1.92349625em + 1.3656175em + 2.8712425em + 0.8181175em + 0.8181175em +
      2.8712425em + 0.8181175em + 0.40905875em
  );
  color: #6d6d6d;
  font-family: "Glacial Indifference", "sans-serif";
  font-size: 0.683625em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.localSearchNumberOfRankingsTextValue4 {
  position: absolute;
  bottom: calc(
    1.92349625em + 1.3656175em + 2.8712425em + 0.8181175em + 0.8181175em +
      2.8712425em + 0.8181175em + 0.8181175em + 2.8712425em + 0.8181175em
  );
  color: #6d6d6d;
  font-family: "Glacial Indifference", "sans-serif";
  font-size: 0.683625em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.localSearchNumberOfRankingsTextValue5 {
  position: absolute;
  bottom: calc(
    1.92349625em + 1.3656175em + 2.8712425em + 0.8181175em + 0.8181175em +
      2.8712425em + 0.8181175em + 0.8181175em + 2.8712425em + 0.8181175em +
      0.8181175em + 0.8181175em + 2.8712425em
  );
  color: #6d6d6d;
  font-family: "Glacial Indifference", "sans-serif";
  font-size: 0.683625em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.svgRectangle1 {
  position: absolute;
  bottom: 1.92349625em;
  left: 2.67875em;
}
.svgRectangle2 {
  position: absolute;
  bottom: 1.92349625em;
  left: 5.705em;
}
.svgRectangle3 {
  position: absolute;
  bottom: 1.92349625em;
  left: 8.741875em;
}
.svgRectangle4 {
  position: absolute;
  bottom: 1.92349625em;
  left: 11.76875em;
}
.svgRectangle5 {
  position: absolute;
  bottom: 1.92349625em;
  left: 14.8em;
}
.svgRectangle6 {
  position: absolute;
  bottom: 1.92349625em;
  left: 17.831875em;
}
    